<nav class='navigation'>
  <h2>Recipe App</h2>
  <ul >
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
    <li><%= link_to 'Foods', foods_path %></li>
    <li><%= link_to 'Public Recipes', public_recipes_path %></li>
  </ul>
</nav>